*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.header{
    background-color: #4e9fff;
    background-image: url(../img/pattern.png);
    height: 170px;
}
.img-booleaner{
    width: 300px;
    margin-top: 70px;
}

/* Main */
.container{
    width: 90%;
    margin: 10px;
}
h1{
    margin-top: 15px;
}
.trasparente{
    color: rgba(0, 0, 0, 0.5)
}
.color-blue{
    color: #3bb2e8;
}
.foto{
    margin-top: 20px;
}
.descrizione-foto{
    font-size: 13px;
}

/* paragrafo con elenco */
.descrizione{
    margin-top: 30px;
    margin-bottom: 30px;
}
.highlighted{
    background-color: yellow;
}
.lista{
    margin-left: 20px;
    margin-bottom: 30px;
}

/* tabella */
.tabella{
    margin-bottom: 30px;
}
.intestazione-tabella{
    text-align: left;
}
.dispari{
    background-color: #b2e5f2;
}
.ultima-colonna{
    width: 50%;
}
.intestazione-tabella{
    background-color: #1faae5;
    color: white;
}

/* footer */
.titolo-footer{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 800;
    margin-top: 30px;
}
.prima-immagine{
    background-image: url(../img/monitor.jpg);
    width: 300px;
    height: 200px;
}
.seconda-immagine{
    background-image: url(../img/graph.jpg);
    width: 300px;
    height: 200px;
}
.testo-immagine{
    color: white;
    font-weight: 800;
    margin-top: 10px;
    margin-left: 10px;
}