*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.header{
    background-color: #4e9fff;
    background-image: url(../img/pattern.png);
    height: 170px;
}
.img-booleaner{
    width: 300px;
    margin-top: 70px;
}

/* Main */
.container{
    margin-left: 10px;
}
h1{
    margin-top: 15px;
}
.sottotitolo{
    color: rgba(0, 0, 0, 0.5)
}
.color-blue{
    color: #3bb2e8;
}